body {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  row-gap: 2px;
  column-gap: 2px;
  text-align: center;
}

.block-container {
  border: 2px solid green;
  width: 100%;
}
