html {
  height: 100%;
}
.nav-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-items,
a {
  padding: 10px;
  text-decoration: none;
  color: #0085e5;
  font-family: "Gloria Hallelujah", cursive;
  font-family: "Josefin Sans", sans-serif;
}

.home {
  align-self: self-start;
}

.page-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(pattern.png);
  border: 1.5px solid #0085e5;
  height: 300px;
}

.page-title {
  font-family: "Gloria Hallelujah", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  color: #0085e5;
}

.cat-icon {
  color: #ff7722;
}
.footer {
  border: 2px solid black;
}
