html {
  height: 100%;
  margin: 0px;
}
.nav-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-items,
a {
  padding: 10px;
  text-decoration: none;
  color: #0085e5;
  font-family: "Nixie One", cursive;
}

.page-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(pattern.png);
  border: 1.5px dashed #0085e5;
  height: 300px;
  margin: auto;
}

.page-title {
  font-family: "Nixie One", cursive;
  font-size: 48px;
  color: #0085e5;
}

.cat-icon {
  color: #ff7722;
}

.block-container {
  display: grid;
  grid-template-areas:
    "one one two"
    "three four two";
  grid-gap: 10px;
  margin-top: 32px;
  width: 98%;
}

.block-containers {
  /* width: 80%; */
  text-align: center;
  margin: 10px auto 0px;
  border: 2px solid green;
}

.block-title {
  font-family: "Nixie One", cursive;
}

.fruit-grid {
  height: 100px;
  width: 100px;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.footer-container {
  margin-bottom: 30px;
}

.footer {
  border: 2px solid black;
  padding: 20px;
  font-family: "Nixie One", cursive;
  text-align: center;
  background-image: url(pattern.png);
  border: 1.5px dashed #0085e5;
}
